//PRODUCTOS

.tarjeta-producto__boton{
    background-color: lightcoral;
    font-size: 15px;
    color: black;
    padding: 12px 18px;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    width: 90%;
    margin: 5%;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    
    :hover{
        transform: translateY(1px);
        background-color: lightgreen;
        transition: transform 0.3s ease, background-color 3s ease;
}
}

//FORMULARIO CONTACTO

.contacto-form form button {
    background: lightpink;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;

    :hover,:focus {
        background: #d63031;
        color: black;
        transition: background-color 1s ease-out;
        outline: 0;
}

}