$font-principal: 'Lato', sans-serif;

$bk-color-primary: rgba(196, 157, 157, 0.459);
$bk-color-tarjetas: rgb(114, 58, 58); 
$bk-color-footer: rgb(243, 107, 127);

$color-primary: white;
$color-secondary: black;

$viewport: (
    "sm": 576px,
    "md": 768px,
)